:root {
  --background: #102438;
  --lighter-ish: #1E3852;
  --lighter: #26435F;
  --text: #DDDDDD;
  --accent: #09A2AA;
  --accent-1: #18B4BC;
  --accent-2: #40C8C2;
  --border: #B4DFF1;
  --selected: #DD8FFF;
  --mood-1: #40C8C2;
  --mood-2: #09A2AA;
  --mood-3: #4C98CF;
  --mood-4: #316DB3;
  --mood-5: #506498;
  --error-border: #F56D6D;
  --error-background: rgba(245, 109, 109, 0.35);
  --dark-button-hover: #065375;
  --white: #fff; /* This looks stupid, but if I add "light mode" later I'll want an easy way to change this. */
}

a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s;
}

a:hover,
a:focus,
a:active {
  color: var(--accent-2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h2 {
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 0px 8px var(--background);
  box-sizing: border-box;
  z-index: 5;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  transition: all 0.2s;
  max-width: 800px;
  height: 50px
}

header .logo {
  max-width: 160px;
}

header:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--lighter);
  z-index: 5;
  max-width: 800px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  transition: all 0.2s;
}

footer:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

footer nav#main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer nav#main-nav ul li {
  display: inline-block;
  margin: 0 1em;
  position: relative;
}

footer nav#main-nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 1em 0;
  display: inline-block;
  transition: all 0.2s;
}

footer nav#main-nav ul li.selected a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--selected);
  width: 100%;
}

footer nav#main-nav ul li.selected a {
  color: var(--selected);
}

footer nav#main-nav ul li a:focus,
footer nav#main-nav ul li a:active,
footer nav#main-nav ul li a:hover {
  color: var(--accent-2);
}

footer nav#main-nav ul li:focus a:after,
footer nav#main-nav ul li:active a:after,
footer nav#main-nav ul li:hover a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--accent-2);
  width: 100%;
}

footer nav#main-nav ul li a i,
footer nav#main-nav ul li a span {
  vertical-align: middle;
}

footer nav#main-nav ul li a span {
  margin-right: 0.5em;
  font-weight: 600;
}

.hide {
  display: none;
}

.center-both-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.center-both {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#splash .center-both-container {
  height: calc(100% - 4em);
}

.has-buttons .column.span12 {
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
  padding-top: 5rem;
  box-sizing: border-box;
}

/* Errors */
.error-message {
  border: 2px solid var(--error-border);
  color: var(--white);
  background-color: var(--error-background);
  padding: 0.2em;
}

.error-message:before {
  display: inline-block;
  content: "error";
  font-family: 'Material Icons Round';
  -webkit-font-feature-settings: 'liga';
  color: var(--error-border);
  font-size: 18px;
  vertical-align: middle;
  margin-right: 0.5em;
}

/* Forms */

.bottom-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  padding: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.button:nth-child(2n) {
  background-color: var(--accent-1);
}

.button:hover,
.button:active,
.button:focus,
.button:nth-child(2n):hover,
.button:nth-child(2n):active,
.button:nth-child(2n):focus {
  background-color: var(--accent-2);
  color: var(--white);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  z-index: 2;
}

.button.button-switch {
  background-color: var(----lighter);
}

.button.button-switch:hover,
.button.button-switch:active,
.button.button-switch:focus {
  background-color: var(--dark-button-hover);
  color: var(--white);
}

input[type="text"], input[type="password"], input[type="number"] {
  background-color: var(--lighter);
  border: 2px solid var(--border);
  color: var(--white);
  outline: none;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

/* Splash */
.full-height {
  position: relative;
  min-height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
}

.header-space {
  padding-top: 50px;
}

.footer-space {
  padding-bottom: 50px;
}

.blue-background {
  background-color: var(--accent);
  color: var(--white);
  position: relative;
  overflow-y: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

.blue-background .button {
  background-color: var(--background);
}

.blue-background .button:nth-child(2n) {
  background-color: var(--lighter);
}
.blue-background .button:hover,
.blue-background .button:active,
.blue-background .button:focus,
.blue-background .button:nth-child(2n):hover,
.blue-background .button:nth-child(2n):focus,
.blue-background .button:nth-child(2n):active {
  background-color: var(--dark-button-hover);
  color: var(--white);
}

.logo-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.logo {
  width: 180px;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: auto;
  transform: translateY(-50%);
}

/* Bubbles */
.bubble {
  background-color: var(--lighter-ish);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

a.bubble-link {
  display: block;
  max-width: 350px;
  margin: auto;
  width: 100%;
}

.bubble.alert-blue {
  background-color: var(--accent);
  position: relative;
  color: var(--white);
  padding-right: 2rem;
}

.bubble.alert-blue:after {
  content: "chevron_right";
  position: absolute;
  right: 0.5rem;
  font-family: "Material Icons Round";
  top: calc(50% - 12px);
  -webkit-font-feature-settings: 'liga';
  display: block;
  color: var(--white);
  font-weight: 300;
  font-size: 24px;
}

#day-overview .bubble.alert-blue p {
  margin-top: 0;
}

.bubble:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  box-shadow: 0px 0px 40px var(--background);
  z-index: 2;
}

.bubble h3 {
  background-color: var(--lighter);
  border-radius: 10px 10px 0px 0px;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 0;
}

.bubble h3:before {
  font-family: 'Material Icons Round';
  -webkit-font-feature-settings: 'liga';
  font-size: 24px;
  text-transform: none;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.bubble h3.aaaMood:before {
  content: "mood";
}

.bubble h3.caffeine:before {
  content: "local_cafe";
}

.bubble h3.water:before {
  content: "local_drink";
}

.bubble h3.sleep:before {
  content: "bedtime";
}

#day-overview {
  position: relative;
  padding-top: calc(1em + 1.5em);
  margin: auto;
  max-width: 500px;
}

#day-enter-screen {
  max-width: 500px;
  margin: auto;
}

#day-overview a {
  color: #fff;
  position: relative;
  z-index: 1;
}

#day-overview .arrow-previous {
  position: absolute;
  top: 0;
  left: 1em;
}

#day-overview .arrow-next {
  position: absolute;
  top: 0;
  right: 1em;
}

#date {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#day-overview h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  top: 0;
}

#day-overview p {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 1em auto 2em;
}

#day-overview .bubble p {
  margin: 1em auto 0;
  text-align: left;
}

#edit-day {
  display: block;
  text-decoration: none;
}

#edit-day:hover,
#edit-day:active,
#edit-day:focus {
  color: var(--accent-2);
}

/* Icons */
.icon-set {
  margin-top: 1rem;
}

.icon-set .large-icon {
  font-family: 'Material Icons Round';
  -webkit-font-feature-settings: 'liga';
  font-size: 48px;
  display: inline-block;
  color: var(--accent);
}

.icon-set .big-number {
    font-size: 48px;
    font-weight: 600;
    color: var(--accent-2);
}

.material-icons {
  vertical-align: middle;
}

.enter-previous {
  color: #fff;
  text-decoration: none;
}

#enter-written-date {
  text-align: center;
}

.loading-bar {
  height: 1rem;
  background-color: var(--lighter);
  border-radius: 0.5rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.loading-bar .progress {
  width: 0%;
  background-color: var(--selected);
  height: 100%;
  border-radius: 0.5rem;
  transition: width 0.2s;
  min-width: 1rem;
}

/* Responsive Grid System for log icon layouts 
(I'm not reusing discount bootstrap because it'd be about as much work to create exceptions as it will be to make new classes) */

#category-enter-screen {
  padding: 2em 0;
}

#category-enter-screen .icon-container {
  max-width: 192px;
  margin: auto;
}

#category-enter-screen .icon-container .icon-row {
  display: flex;
  flex-wrap: wrap;
}

#category-enter-screen .icon-container .icon-row .icon-column.icon-span4 {
  width: 33.33%;
  padding: 8px;
  line-height: 1;
  box-sizing: border-box;
}

#category-enter-screen .icon-container .icon-row .icon-column.icon-span4 span {
  font-size: 48px;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  font-family: "Poppins";
}

#category-enter-screen .icon-container .icon-row .icon-column.icon-span4 span.material-icons-round {
  font-weight: 400;
  font-family: "Material Icons Round";
}

#category-enter-screen .icon-container .icon-row .icon-column.icon-span4 span {
  color: var(--lighter);
}

@media only screen and (min-width: 500px) {
  #category-enter-screen .icon-container {
    max-width: 384px;
    margin: auto;
  }

  #category-enter-screen .icon-container .icon-row .icon-column.icon-span4 {
    width: 16.66%;
  }
  
  #category-enter-screen.enforce-break .icon-container {
    max-width: 192px;
    margin: auto;
  }

  #category-enter-screen.enforce-break .icon-container .icon-row .icon-column.icon-span4 {
    width: 33.33%;
  }
}

/* Calendar Styles */
#calendar {
  font-size: 0;
  max-width: 350px;
  margin: auto;
}

#calendar .day-small {
  width: calc(14.28% - 4px);
  display: inline-block;
  padding-bottom: calc(14.28% - 4px);
  margin: 2px;
  background-color: var(--lighter);
}

#calendar .day-large {
}

#calendar .calendar-navigation {
  position: relative;
  height: 24px;
}

#calendar .month {
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.2em;
  text-align: center;
}

#calendar .arrow-left {
  float: left;
}

#calendar .arrow-right {
  float: right;
}

#calendar .calendar-views {
  text-align: right;
  padding: 1rem 0;
}
