:root {
  --background: #102438;
  --lighter-ish: #1E3852;
  --lighter: #26435F;
  --text: #DDDDDD;
  --accent: #09A2AA;
  --accent-1: #18B4BC;
  --accent-2: #40C8C2;
  --border: #B4DFF1;
  --selected: #DD8FFF;
  --mood-1: #40C8C2;
  --mood-2: #09A2AA;
  --mood-3: #4C98CF;
  --mood-4: #316DB3;
  --mood-5: #506498;
  --error-border: #F56D6D;
  --error-background: rgba(245, 109, 109, 0.35);
  --dark-button-hover: #4C98CF;
  --white: #fff; /* This looks stupid, but if I add "light mode" later I'll want an easy way to change this. */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h2 {
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 0px 8px var(--background);
  box-sizing: border-box;
  padding: 1em;
  z-index: 5;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--lighter);
  box-shadow: 0px 0px 60px var(--background);
}

footer nav#main-nav ul {
  list-style: none;
  margin: 0;
}

footer nav#main-nav ul li {
  display: inline-block;
  margin: 0 1em;
  position: relative;
}

footer nav#main-nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 1em 0;
  display: inline-block;
  transition: all 0.2s;
}

footer nav#main-nav ul li.selected a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--selected);
  width: 100%;
}

footer nav#main-nav ul li.selected a {
  color: var(--selected);
}

footer nav#main-nav ul li a:focus,
footer nav#main-nav ul li a:active,
footer nav#main-nav ul li a:hover {
  color: var(--accent-2);
}

footer nav#main-nav ul li:focus a:after,
footer nav#main-nav ul li:active a:after,
footer nav#main-nav ul li:hover a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--accent-2);
  width: 100%;
}

footer nav#main-nav ul li a i,
footer nav#main-nav ul li a span {
  vertical-align: middle;
}

footer nav#main-nav ul li a span {
  margin-right: 0.5em;
  font-weight: 600;
}

.hide {
  display: none;
}

.has-buttons .column.span12 {
  height: 100vh;
  position: relative;
}

/* Errors */
.error-message {
  border: 2px solid var(--error-border);
  color: var(--white);
  background-color: var(--error-background);
  padding: 0.2em;
}

.error-message:before {
  display: inline-block;
  content: "error";
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  color: var(--error-border);
  font-size: 18px;
  vertical-align: middle;
  margin-right: 0.5em;
}

/* Forms */

.bottom-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  padding: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.button:nth-child(2n) {
  background-color: var(--accent-1);
}

.button:hover,
.button:active,
.button:focus,
.button:nth-child(2n):hover,
.button:nth-child(2n):active,
.button:nth-child(2n):focus {
  background-color: var(--accent-2);
}

input[type="text"], input[type="password"], input[type="number"] {
  background-color: var(--lighter);
  border: 2px solid var(--border);
  color: var(--white);
  outline: none;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

/* Splash */
body[splash="false"] #splash {
  display: none;
}

body[splash="false"] main,
body[splash="false"] header,
body[splash="false"] footer {
  display: block;
}

body[splash="true"] #splash {
  display: block;
}

body[splash="true"] main,
body[splash="true"] header,
body[splash="true"] footer {
  display: none;
}

#splash-start {
  background-color: var(--accent);
  color: var(--white);
}

#splash-start .button {
  background-color: var(--background);
}

#splash-start .button:nth-child(2n) {
  background-color: var(--lighter);
}

#splash-start .button:hover,
#splash-start .button:active,
#splash-start .button:focus,
#splash-start .button:nth-child(2n):hover,
#splash-start .button:nth-child(2n):focus,
#splash-start .button:nth-child(2n):active {
  background-color: var(--dark-button-hover);
}

#calendar {
  background-color: var(--background);
}

.day {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: 3px;
}

.day[valid="false"] {
  background-color: var(--background);
}

.day[valid="true"][filled="false"] {
  background-color: var(--lighter);
}

.day[valid="true"][filled="true"][mood="1"] {
  background-color: var(--mood-1);
}

.day[valid="true"][filled="true"][mood="2"] {
  background-color: var(--mood-2);
}

.day[valid="true"][filled="true"][mood="3"] {
  background-color: var(--mood-3);
}

.day[valid="true"][filled="true"][mood="4"] {
  background-color: var(--mood-4);
}

.day[valid="true"][filled="true"][mood="5"] {
  background-color: var(--mood-5);
}

/* Bubbles */
.bubble {
  background-color: var(--lighter-ish);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.bubble:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  box-shadow: 0px 0px 40px var(--background);
}

.bubble h3 {
  background-color: var(--lighter);
  border-radius: 10px 10px 0px 0px;
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

#day-overview .column.span12 {
  position: relative;
  padding-top: calc(1em + 1.5em);
}

#day-overview .arrow-previous {
  position: absolute;
  top: 0;
  left: 0;
}

#day-overview .arrow-next {
  position: absolute;
  top: 0;
  right: 0;
}

#date {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#date h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

#day-overview p {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 1em auto 2em;
}

/* Icons */
.icon-set .large-icon {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-size: 48px;
  display: inline-block;
  color: var(--accent);
}
