:root {
  --background: #102438;
  --lighter-ish: #1E3852;
  --lighter: #26435F;
  --text: #DDDDDD;
  --accent: #09A2AA;
  --accent-1: #18B4BC;
  --accent-2: #40C8C2;
  --border: #B4DFF1;
  --selected: #DD8FFF;
  --mood-1: #40C8C2;
  --mood-2: #09A2AA;
  --mood-3: #4C98CF;
  --mood-4: #316DB3;
  --mood-5: #506498;
  --error-border: #F56D6D;
  --error-background: rgba(245, 109, 109, 0.35);
  --dark-button-hover: #4C98CF;
  --white: #fff; /* This looks stupid, but if I add "light mode" later I'll want an easy way to change this. */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h2 {
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 0px 8px var(--background);
  box-sizing: border-box;
  padding: 1em;
  z-index: 5;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--lighter);
  box-shadow: 0px 0px 60px var(--background);
  z-index: 5;
}

footer nav#main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer nav#main-nav ul li {
  display: inline-block;
  margin: 0 1em;
  position: relative;
}

footer nav#main-nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 1em 0;
  display: inline-block;
  transition: all 0.2s;
}

footer nav#main-nav ul li.selected a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--selected);
  width: 100%;
}

footer nav#main-nav ul li.selected a {
  color: var(--selected);
}

footer nav#main-nav ul li a:focus,
footer nav#main-nav ul li a:active,
footer nav#main-nav ul li a:hover {
  color: var(--accent-2);
}

footer nav#main-nav ul li:focus a:after,
footer nav#main-nav ul li:active a:after,
footer nav#main-nav ul li:hover a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  content: "";
  border-radius: 6px 6px 0 0;
  background-color: var(--accent-2);
  width: 100%;
}

footer nav#main-nav ul li a i,
footer nav#main-nav ul li a span {
  vertical-align: middle;
}

footer nav#main-nav ul li a span {
  margin-right: 0.5em;
  font-weight: 600;
}

.hide {
  display: none;
}

.center-both-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.center-both {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#splash .center-both-container {
  height: calc(100% - 4em);
}

.has-buttons .column.span12 {
  height: 100vh;
  position: relative;
}

/* Errors */
.error-message {
  border: 2px solid var(--error-border);
  color: var(--white);
  background-color: var(--error-background);
  padding: 0.2em;
}

.error-message:before {
  display: inline-block;
  content: "error";
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  color: var(--error-border);
  font-size: 18px;
  vertical-align: middle;
  margin-right: 0.5em;
}

/* Forms */

.bottom-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  padding: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.button:nth-child(2n) {
  background-color: var(--accent-1);
}

.button:hover,
.button:active,
.button:focus,
.button:nth-child(2n):hover,
.button:nth-child(2n):active,
.button:nth-child(2n):focus {
  background-color: var(--accent-2);
}

.button.button-switch {
  background-color: var(----lighter);
}

.button.button-switch:hover,
.button.button-switch:active,
.button.button-switch:focus {
  background-color: var(--dark-button-hover);
}

input[type="text"], input[type="password"], input[type="number"] {
  background-color: var(--lighter);
  border: 2px solid var(--border);
  color: var(--white);
  outline: none;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

/* Splash */
#splash-start {
  background-color: var(--accent);
  color: var(--white);
}

#splash-start .button {
  background-color: var(--background);
}

#splash-start .button:nth-child(2n) {
  background-color: var(--lighter);
}

#splash-start .button:hover,
#splash-start .button:active,
#splash-start .button:focus,
#splash-start .button:nth-child(2n):hover,
#splash-start .button:nth-child(2n):focus,
#splash-start .button:nth-child(2n):active {
  background-color: var(--dark-button-hover);
}

#calendar {
  background-color: var(--background);
}

.day {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: 3px;
}

.day[valid="false"] {
  background-color: var(--background);
}

.day[valid="true"][filled="false"] {
  background-color: var(--lighter);
}

.day[valid="true"][filled="true"][mood="1"] {
  background-color: var(--mood-1);
}

.day[valid="true"][filled="true"][mood="2"] {
  background-color: var(--mood-2);
}

.day[valid="true"][filled="true"][mood="3"] {
  background-color: var(--mood-3);
}

.day[valid="true"][filled="true"][mood="4"] {
  background-color: var(--mood-4);
}

.day[valid="true"][filled="true"][mood="5"] {
  background-color: var(--mood-5);
}

/* Bubbles */
.bubble {
  background-color: var(--lighter-ish);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.bubble:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  box-shadow: 0px 0px 40px var(--background);
}

.bubble h3 {
  background-color: var(--lighter);
  border-radius: 10px 10px 0px 0px;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 0;
}

.bubble h3:before {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-size: 24px;
  text-transform: none;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.bubble h3.aaaMood:before {
  content: "mood";
}

.bubble h3.caffeine:before {
  content: "local_cafe";
}

.bubble h3.water:before {
  content: "local_drink";
}

.bubble h3.sleep:before {
  content: "bedtime";
}

#day-overview {
  position: relative;
  padding-top: calc(1em + 1.5em);
  margin: auto;
  max-width: 500px;
}

#day-overview a {
  color: #fff;
  position: relative;
  z-index: 1;
}

#day-overview .arrow-previous {
  position: absolute;
  top: 0;
  left: 1em;
}

#day-overview .arrow-next {
  position: absolute;
  top: 0;
  right: 1em;
}

#date {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#day-overview h2 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  top: 0;
}

#day-overview p {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 1em auto 2em;
}

#day-overview .bubble p {
  margin: 1em auto 0;
  text-align: left;
}

#edit-day {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: auto;
  text-decoration: none;
}

#edit-day:hover,
#edit-day:active,
#edit-day:focus {
  color: var(--accent-2);
}

/* Icons */
.icon-set .large-icon {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  font-size: 48px;
  display: inline-block;
  color: var(--accent);
}

.material-icons {
  vertical-align: middle;
}

.enter-previous {
  color: #fff;
  text-decoration: none;
}

.loading-bar {
  height: 1rem;
  background-color: var(--lighter);
  border-radius: 0.5rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.loading-bar .progress {
  width: 0%;
  background-color: var(--selected);
  height: 100%;
  border-radius: 0.5rem;
  transition: width 0.2s;
  min-width: 1rem;
}

.loading-bar .progress[amount="1"] {
  width: 1%;
}

.loading-bar .progress[amount="2"] {
  width: 2%;
}

.loading-bar .progress[amount="3"] {
  width: 3%;
}

.loading-bar .progress[amount="4"] {
  width: 4%;
}

.loading-bar .progress[amount="5"] {
  width: 5%;
}

.loading-bar .progress[amount="6"] {
  width: 6%;
}

.loading-bar .progress[amount="7"] {
  width: 7%;
}

.loading-bar .progress[amount="8"] {
  width: 8%;
}

.loading-bar .progress[amount="9"] {
  width: 9%;
}

.loading-bar .progress[amount="10"] {
  width: 10%;
}

.loading-bar .progress[amount="11"] {
  width: 11%;
}

.loading-bar .progress[amount="12"] {
  width: 12%;
}

.loading-bar .progress[amount="13"] {
  width: 13%;
}

.loading-bar .progress[amount="14"] {
  width: 14%;
}

.loading-bar .progress[amount="15"] {
  width: 15%;
}

.loading-bar .progress[amount="16"] {
  width: 16%;
}

.loading-bar .progress[amount="17"] {
  width: 17%;
}

.loading-bar .progress[amount="18"] {
  width: 18%;
}

.loading-bar .progress[amount="19"] {
  width: 19%;
}

.loading-bar .progress[amount="20"] {
  width: 20%;
}

.loading-bar .progress[amount="21"] {
  width: 21%;
}

.loading-bar .progress[amount="22"] {
  width: 22%;
}

.loading-bar .progress[amount="23"] {
  width: 23%;
}

.loading-bar .progress[amount="24"] {
  width: 24%;
}

.loading-bar .progress[amount="25"] {
  width: 25%;
}

.loading-bar .progress[amount="26"] {
  width: 26%;
}

.loading-bar .progress[amount="27"] {
  width: 27%;
}

.loading-bar .progress[amount="28"] {
  width: 28%;
}

.loading-bar .progress[amount="29"] {
  width: 29%;
}

.loading-bar .progress[amount="30"] {
  width: 30%;
}

.loading-bar .progress[amount="31"] {
  width: 31%;
}

.loading-bar .progress[amount="32"] {
  width: 32%;
}

.loading-bar .progress[amount="33"] {
  width: 33%;
}

.loading-bar .progress[amount="34"] {
  width: 34%;
}

.loading-bar .progress[amount="35"] {
  width: 35%;
}

.loading-bar .progress[amount="36"] {
  width: 36%;
}

.loading-bar .progress[amount="37"] {
  width: 37%;
}

.loading-bar .progress[amount="38"] {
  width: 38%;
}

.loading-bar .progress[amount="39"] {
  width: 39%;
}

.loading-bar .progress[amount="40"] {
  width: 40%;
}

.loading-bar .progress[amount="41"] {
  width: 41%;
}

.loading-bar .progress[amount="42"] {
  width: 42%;
}

.loading-bar .progress[amount="43"] {
  width: 43%;
}

.loading-bar .progress[amount="44"] {
  width: 44%;
}

.loading-bar .progress[amount="45"] {
  width: 45%;
}

.loading-bar .progress[amount="46"] {
  width: 46%;
}

.loading-bar .progress[amount="47"] {
  width: 47%;
}

.loading-bar .progress[amount="48"] {
  width: 48%;
}

.loading-bar .progress[amount="49"] {
  width: 49%;
}

.loading-bar .progress[amount="50"] {
  width: 50%;
}

.loading-bar .progress[amount="51"] {
  width: 51%;
}

.loading-bar .progress[amount="52"] {
  width: 52%;
}

.loading-bar .progress[amount="53"] {
  width: 53%;
}

.loading-bar .progress[amount="54"] {
  width: 54%;
}

.loading-bar .progress[amount="55"] {
  width: 55%;
}

.loading-bar .progress[amount="56"] {
  width: 56%;
}

.loading-bar .progress[amount="57"] {
  width: 57%;
}

.loading-bar .progress[amount="58"] {
  width: 58%;
}

.loading-bar .progress[amount="59"] {
  width: 59%;
}

.loading-bar .progress[amount="60"] {
  width: 60%;
}

.loading-bar .progress[amount="61"] {
  width: 61%;
}

.loading-bar .progress[amount="62"] {
  width: 62%;
}

.loading-bar .progress[amount="63"] {
  width: 63%;
}

.loading-bar .progress[amount="64"] {
  width: 64%;
}

.loading-bar .progress[amount="65"] {
  width: 65%;
}

.loading-bar .progress[amount="66"] {
  width: 66%;
}

.loading-bar .progress[amount="67"] {
  width: 67%;
}

.loading-bar .progress[amount="68"] {
  width: 68%;
}

.loading-bar .progress[amount="69"] {
  width: 69%;
}

.loading-bar .progress[amount="70"] {
  width: 70%;
}

.loading-bar .progress[amount="71"] {
  width: 71%;
}

.loading-bar .progress[amount="72"] {
  width: 72%;
}

.loading-bar .progress[amount="73"] {
  width: 73%;
}

.loading-bar .progress[amount="74"] {
  width: 74%;
}

.loading-bar .progress[amount="75"] {
  width: 75%;
}

.loading-bar .progress[amount="76"] {
  width: 76%;
}

.loading-bar .progress[amount="77"] {
  width: 77%;
}

.loading-bar .progress[amount="78"] {
  width: 78%;
}

.loading-bar .progress[amount="79"] {
  width: 79%;
}

.loading-bar .progress[amount="80"] {
  width: 80%;
}

.loading-bar .progress[amount="81"] {
  width: 81%;
}

.loading-bar .progress[amount="82"] {
  width: 82%;
}

.loading-bar .progress[amount="83"] {
  width: 83%;
}

.loading-bar .progress[amount="84"] {
  width: 84%;
}

.loading-bar .progress[amount="85"] {
  width: 85%;
}

.loading-bar .progress[amount="86"] {
  width: 86%;
}

.loading-bar .progress[amount="87"] {
  width: 87%;
}

.loading-bar .progress[amount="88"] {
  width: 88%;
}

.loading-bar .progress[amount="89"] {
  width: 89%;
}

.loading-bar .progress[amount="90"] {
  width: 90%;
}

.loading-bar .progress[amount="91"] {
  width: 91%;
}

.loading-bar .progress[amount="92"] {
  width: 92%;
}

.loading-bar .progress[amount="93"] {
  width: 93%;
}

.loading-bar .progress[amount="94"] {
  width: 94%;
}

.loading-bar .progress[amount="95"] {
  width: 95%;
}

.loading-bar .progress[amount="96"] {
  width: 96%;
}

.loading-bar .progress[amount="97"] {
  width: 97%;
}

.loading-bar .progress[amount="98"] {
  width: 98%;
}

.loading-bar .progress[amount="99"] {
  width: 99%;
}

.loading-bar .progress[amount="100"] {
  width: 100%;
}
